:root {
    --black: #000;
    --white: #f8f8f8;
    --gray: #A29B9B;
    --red: #B60B0B;
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/1.bureau_background.webp");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.titre {
    font-family: 'Schoolbell', cursive;
    font-size: 20vh;
    text-align: center;
    align-self: center;
}

.credits {
    font-family: 'Schoolbell', cursive;
    font-size: 11px;
}

.scroll-icon {
    width: 8vh;
}

section {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.kakalan {
    height: 500vh;
    border: 1px solid#000;
}

@keyframes jump {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: -9000% 0%;
    }
}

#one {
    background-image: url(../img/img_arriere_plan/2.bureau_background_horizontal.png);
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid#000;
}

#two {
    background-image: url(../img/img_arriere_plan/1.bureau_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid#000;
}

#three {
    background-image: url(../img/img_arriere_plan/2.bureau_background_horizontal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid#000;
}

#four {
    background-image: url(../img/img_arriere_plan/1.bureau_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid#000;
}

#five {
    background-image: url(../img/img_arriere_plan/3.background_parallax.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid#000;
    background-attachment: scroll;
    background-position: 50% 0%;
}

#six {
    /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(67, 67, 255), lightblue);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid#000;
}

.spriteone-bunny {
    background-image: url(../img/img_personnages/spritesheet_bunny.png);
    width: 45vh;
    height: 65vh;
    aspect-ratio: 1037/668;
    background-size: 9000% 100%;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: steps(90);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
    position: absolute;
    top: 20vh;
}

.spritetwo-bunny {
    background-image: url(../img/img_personnages/spritesheet_bunny.png);
    width: 45vh;
    height: 65vh;
    aspect-ratio: 1037/668;
    background-size: 9000% 100%;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: steps(90);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
    position: absolute;
    top: 20vh;
    z-index: 6;
}

.spritethree-bunny {
    background-image: url(../img/img_personnages/spritesheet_bunny.png);
    width: 45vh;
    height: 65vh;
    aspect-ratio: 1037/668;
    background-size: 9000% 100%;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: steps(90);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
    position: absolute;
    top: 30vh;
    z-index: 10;
}

.spritefive-bunny {
    background-image: url(../img/img_personnages/spritesheet_bunny.png);
    width: 45vh;
    height: 65vh;
    aspect-ratio: 1037/668;
    background-size: 9000% 100%;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: steps(90);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
    position: absolute;
    top: 30vh;
    z-index: 2;
}

.spritesix-bunny {
    background-image: url(../img/img_personnages/spritesheet_bunny.png);
    width: 45vh;
    height: 65vh;
    aspect-ratio: 1037/668;
    background-size: 9000% 100%;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: steps(90);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
    position: absolute;
    top: 30vh;
    z-index: 2;
}

.is-scrolling .spriteone-bunny {
    animation-play-state: running;
}

.is-scrolling .spritetwo-bunny {
    animation-play-state: running;
}

.is-scrolling .spritethree-bunny {
    animation-play-state: running;
}

.is-scrolling .spritefour-bunny {
    animation-play-state: running;
}

.is-scrolling .spritefive-bunny {
    animation-play-state: running;
}

.is-scrolling .spritesix-bunny {
    animation-play-state: running;
}

.text-one {
    font-family: 'Schoolbell', cursive;
    position: absolute;
    font-size: 2.5vh;
    top: 20vh;
    color: var(--white);
    width: 50vh;
    text-align: center;
}

.text-two {
    font-family: 'Schoolbell', cursive;
    position: absolute;
    font-size: 2.5vh;
    top: 25vh;
    color: var(--white);
    width: 50vh;
    text-align: center;
}

.pencil-one {
    position: absolute;
    width: 60vh;
    transform: rotate(17deg);
    top: 65vh;
    z-index: 1;
}

.paper-ball {
    position: absolute;
    width: 35vh;
    top: 43vh
}

.text-three {
    font-family: 'Schoolbell', cursive;
    position: absolute;
    font-size: 2.5vh;
    top: 20vh;
    color: var(--white);
    ;
    width: 50vh;
    text-align: center;
}

.penholder {
    position: absolute;
    width: 120vh;
    top: 28vh;
    z-index: 1;
}

.text-four {
    font-family: 'Schoolbell', cursive;
    position: absolute;
    font-size: 2.5vh;
    top: 2vh;
    text-align: end;
    color: var(--black);
    width: 50vh;
    z-index: 200;
    right: 5vw;
}

.spritefour-bunny {
    background-image: url(../img/img_personnages/spritesheet_bunny.png);
    width: 15vh;
    height: 23vh;
    aspect-ratio: 1037/668;
    background-size: 9000% 100%;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: steps(90);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
    position: absolute;
    top: 54vh;
    z-index: 2;
}

.le-hand {
    background-image: url(../img/img_elements_visuels/sprite_hand.png);
    aspect-ratio: 1920/1080;
    background-size: 100% 2900%;
    animation-name: hand;
    animation-duration: 1s;
    animation-timing-function: steps(29);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
    position: absolute;
    width: 80vh;
    left: 0;
    top: 20vh;
}

.book-back {
    position: absolute;
    width: 85vh;
    top: 38vh;
}

.book-front {
    position: absolute;
    width: 85vh;
    top: 38vh;
    z-index: 3;
}

.text-five {
    font-family: 'Schoolbell', cursive;
    position: absolute;
    font-size: 2.5vh;
    top: 30vh;
    color: var(--black);
    width: 35vh;
    text-align: start;
    left: 15vw;
    z-index: 5;
}

.window {
    position: absolute;
    width: 130vh;
    top: 12vh;
    transform: translate(230px, 0px);
}

.stars {
    position: absolute;
    width: 40vh;
    top: 32vh;
    transform: translate(220px, 0px);
}

.lune {
    position: absolute;
}

.plane-back {
    position: absolute;
    width: 230vh;
    top: 12vh;
}

.plane-front {
    position: absolute;
    width: 230vh;
    top: 12vh;
    z-index: 4;
}

.lune {
    width: 80vh;
    top: 11vh;
}

.plane-back-two {
    position: absolute;
    width: 230vh;
    top: 15vh;
}

.plane-front-two {
    position: absolute;
    width: 230vh;
    top: 15vh;
    z-index: 4;
}

.text-six {
    font-family: 'Schoolbell', cursive;
    position: absolute;
    font-size: 2.5vh;
    top: 33vh;
    color: var(--white);
    width: 50vh;
    text-align: center;
}

.is-scrolling .le-hand {
    animation-play-state: running;
}

@keyframes hand {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% -2900%;
    }
}