:root {
    --black: #000;
    --white: #f8f8f8;
    --gray: #A29B9B;
    --red:B60B0B;
  }

  body {
      overflow-x: hidden;
  }

  header {
      width: 100%;
      height: 100%;
  }

  .intro {
    width: 100%;
  }

  .titre {
      font-family: 'Schoolbell', cursive;
      font-size: 100px;
      z-index: 4;
      position: absolute;
      transform: translate(450px,300px);
      color: white;
  }