:root {
    --black: #000;
    --white: #f8f8f8;
    --gray: #A29B9B;
    --red: #B60B0B;
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/img_arriere_plan/1.bureau_background.png");
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.titre {
    font-family: 'Schoolbell', cursive;
    font-size: 20vh;
    text-align: center;
    align-self: center;
}

.credits {
    font-family: 'Schoolbell', cursive;
    font-size: 11px;
}

.scroll-icon {
    width: 8vh;

}
section{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.kakalan{
    height: 500vh;
    border: 1px solid#000;
}

.spriteone{
    background-image: url(../img/img_personnages/spritesheet_bunny.png);
    border: 1px solid#000;
    width: 668px;
    height: 100vh;
    aspect-ratio: 1037/668;
    background-size: 9000% 100%;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: steps(90);
    animation-iteration-count: infinite;
    object-fit: cover;
    animation-play-state: paused;
}

@keyframes jump {
    from {background-position: 0% 0%;}
    to {background-position: -9000% 0%;}
}

.is-scrolling .spriteone{
    animation-play-state: running;
}